<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div id="home-container">
        <div>
            <h1>Blog Comminity where people can share ideas</h1> 
        </div>
        <div>
            <h2>Posts</h2>
            <div id="posts">some text</div>
        </div>
    </div>
</body>
</html>